<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Daily Transaction PDF</title>
  </head>
  <body>
    <p>Dear <%= @user.name %>,</p>
    <p>Please find attached your transactions for <%= @date %>.</p>
    <p>Thank you for using our services!</p>
    <p>Sincerely,</p>
    <p>The CashFlo</p>
  </body>
</html>