<% if @notifications.any? %>
  <ul>
    <% @notifications.each do |notification| %>
      <%= render 'notification', notification: notification %>
    <% end %>
  </ul>
<% else %>
  <p>You have no notifications.</p>
<% end %>
<li data-notification-id="<%= notification.id %>">
  <%= notification.content %>
</li>
