<div class="d-flex justify-content-around mb-4">
    <% transaction_types.each do |type| %>
      <%= link_to type.name, new_user_category_transaction_path(@user_category, type: type.name), class:"btn btn-primary btn-lg shadow" %>
    <% end %>
</div>

<%= render partial:'form', locals:{ user_category: @user_category, transaction: @transaction, transaction_type: @transaction_type, transaction_status: @status_options, transaction_modes: @modes_options, expense_categories: @expense_categories }  %>
